* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f2f3f4;
}
body::-webkit-scrollbar {
    display: none;
}

/* nav bar start */


.headvideo1 video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* nav bar start */
.totalnav {
    height: 100px;
    position: sticky;
    z-index: 10;
    top: 0px;
    box-shadow: -1px 9px 14px 0px rgba(26, 22, 26, 0.53);
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.topic h1 {
    padding: 20px 0 0 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 25px;
}

.topic1 {
    display: flex;
    padding: 7px 200px 0 0;

}

.topic1 p a {
    color: black;
}

.topic1 p {
    padding-left: 10px;
}

.input {
    margin-left: 20%;
    margin-top: 10px;
}

.input input {
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input img {
    position: relative;
    right: 40px;
    top: 5px;

}

.navbar1 {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;

}

.nav ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px;
    padding: 8px 18px 8px 8px;
    margin-right: 30px;
    color: black;
    border-radius: 9px;


}

.nav ul li a:hover {
    background-color: #B3ECF2;
    transform: 0.5s;

}

/* dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
    bottom: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
    margin: 10px;
    background-color: lightgray;
    border-radius: 9px;
    background-position: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #04D939;
    border-radius: 9px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer page */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #0e2a47;
    height: 380px;
    /* margin-top:30px; */
    color: lightgray;
}

.footer .foot {
    width: 22%;
    padding-top: 30px;

}

.footer .foot img {
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer .foot p {
    padding-top: 30px;
}

.footer .foot1 {
    width: 22%;
    line-height: 3;
    font-weight: 100;
}

.footer .foot1 h1 {
    font-size: 22px;
}

/* join now page start */
.joinpage {
    width: 60%;
    margin-left: 20%;
    background-color: #EEF1FF;

    
}

.joinpage h1 {
    text-align: start;
    padding: 20px 0 40px 20px;
}

.joinpage form {
    margin-left: 20%;
    height: 700px;
}

.joinpage form label {
    font-size: 22px;
    line-height: 2;
}

.joinpage input {
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    color: black;
    border: 2px outset orange;
    background-color: #ffffff1A;
}

.joinpage form button {
    padding: 10px;
    border: 2px outset brown;
    border-radius: 8px;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #ffffff1A;
}

.joinpage form button a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.joinpage form button:hover {
    transform: scale(1.1);
    transition: 0.5;
    background-color: #B1B2FF;
}

/* join now thanks page */
.thanks {
    background-color: #EEF1FF;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks h1 {
    font-size: 52px;
    text-shadow: -2px 2px greenyellow;
    padding-bottom: 20px;
}

.thanks img {
    width: 100px;
    height: 100px;
}

.record {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.record p {
    padding-left: 20px;
}

.thanks button {
    padding: 10px;
    background-color: #ffffff1A;
    border: 2px outset blueviolet;
    border-radius: 10px;
    width: 200px;
    margin-top: 40px;
}

.thanks button a {
    color: black;
    text-decoration: none;
    font-size: 22px;

}

.thanks button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #B1B2FF;
    border-radius: 10px;
}